@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #3e5672;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outer{
    height:27vh;
    width: 30vw;
    background-color: #909fb1;
    border-radius: 1em;
}

h2{
    color: #2a4e6e;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 1px;
    word-spacing: 6px;
    margin-top: 3vh;
    text-align: center;
}

#mail{
    font-size: 1em;
    letter-spacing: 0.6px;
    height: 6vh;
    width:26vw;
    border: none;
    outline: none;
    margin: 30px 0 0 30px;
    border-radius: 0.7em;
}

#otp{
    font-size: 1em;
    font-style: bold;
    font-family:  Verdana,;
    letter-spacing: 0.6px;
    height: 6vh;
    width:20vw;
    border: none;
    outline: none;
    margin: 0 0 0 30px;
    border-radius: 0.7em;
}

#mail:focus,#otp:focus{
    border: none;
    border-bottom: 2px solid rgb(30, 114, 240);
}

#validate{
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    /* background-color: #a61c1c; */
}

#verify{
    height: 40px;
    width: 70px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 25px;
    border: 0.5px  solid black;
    outline: none;
    background-color: #3b85d0; /* Dark blue */
    color: #121111;
    border-radius: 0.5em;
    cursor: pointer;
}


#resend{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    margin:30px 0 0 35px;
}
#send{
    height: 40px;
    width: 120px;
    margin:10px 0 0 30px;
    font-size: 15px;
    font-weight: 600;
    border: 0.5px  solid black;
    outline: none;
    background-color: #3b85d0; /* Dark blue */
    color: #121111;
    border-radius: 0.5em;
    cursor: pointer;
}

#verify:hover,#send:hover{
    color: white;
    background-color: #234bb9;
}
#validate,#resend {
    display: none;
}

